* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.center-hv {
    justify-content: center;
    align-items: center;
}

.tela{
    width: 320px;
    height: 180px;
    background-color: #37474F;
    border-radius: 10px;
    justify-content: space-between;
}

.bola {
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 100%;
    font-size: 42px;
    color: #FFF;
}

.topo, .rodape {
    width: 100%;
    height: 40px;   
    padding: 3px;
    align-items: center;
}

.coluna {
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.tela .topo .mic {
    width: 35px;
    height: 35px;
    background-color: #455A64;
    border-radius: 100%;
    color: #FFF;
    cursor: pointer;
}

.rodape label {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}